.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 700px;

}

.block {
    width: 100px;
    height: 400px;
    background-color: lightblue;
}

.block:nth-child(3) {
    align-self: center;
}

.block:nth-child(1),
.block:nth-child(5) {
    align-self: flex-end;
}

.block:nth-child(3) {
    background-color: lightcoral;
}

.block:nth-child(5) {
    background-color: lightgreen;
}

.block:nth-child(7) {
    background-color: lightyellow;
}